.Filling {
    width: 100%;
    height: 1080px;
    // top: -285px;
    // position: relative;
    padding: 0 !important;

    @media screen and (max-width: 1280px) {
        height: 812px;
    }

    @media screen and (max-width: 980px) {
        height: 612px;
    }


    @media screen and (max-width: 750px) {
        height: 512px;
    }

    @media screen and (max-width: 688px) {
        height: 470px;
    }

    &__title {
        position: relative;
        left: 1px;
        top: 190px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.4px;
        margin: 0;

        color: #A54220;

        @media screen and (max-width: 1280px) {
            font-size: 36px;
            line-height: 49px;
        }

        @media screen and (max-width: 980px) {
            left: 8px;
            top: 88px;
        }

        @media screen and (max-width: 980px) {
            top: 51px;
            left: 0px;
        }

        @media screen and (max-width: 688px) {
            font-size: 24px;
            line-height: 44px;
        }
    }
}

.Slider {
    width: 100%;
    height: 800px;
    position: relative;
    top: 230px;

    @media screen and (max-width: 1280px) {
        top: 150px;
    }

    @media screen and (max-width: 980px) {
        height: 400px;
    }

    @media screen and (max-width: 750px) {
        top: 90px;
    }

    &__track {
        width: 1500px;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        overflow: hidden;

        padding: 3px;

        @media screen and (max-width: 1770px) {
            width: 1400px;
        }

        @media screen and (max-width: 1670px) {
            width: 1300px;
        }

        @media screen and (max-width: 1470px) {
            width: 1200px;
        }

        @media screen and (max-width: 1370px) {
            width: 1000px;
        }

        @media screen and (max-width: 1170px) {
            width: 900px;
        }

        @media screen and (max-width: 970px) {
            width: 820px;
        }

        @media screen and (max-width: 770px) {
            width: 500px;
        }

        @media screen and (max-width: 570px) {
            width: 350px;
        }
    }

    &__button {
        width: 70px;
        height: 70px;
        position: absolute;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px -5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        top: 35%;

        @media screen and (max-width: 1280px) {
            width: 57px;
            height: 57px;
            top: 25%;
        }

        &_prev {
            left: 53px;

            @media screen and (max-width: 1280px) {
                left: 29px;
            }
        }

        &_next {
            transform: rotate(180deg);
            right: 53px;

            @media screen and (max-width: 1280px) {
                right: 29px;
            }
        }
    }
}

.Slide {
    min-width: 100%;
    height: 300px;
    display: flex;
    transition: .3s;
    justify-content: space-around;
    align-items: center;
    margin: 0 3px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);

    @media screen and (max-width: 1530px) {
        justify-content: center;
    }
}

.Item {
    min-width: 370px;
    max-width: 370px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px -5px 15px rgba(0, 0, 0, 0.1);
    background: white;
    transition: .3s;
    text-align: center;
    display: block;
    overflow: hidden;

    @media screen and (max-width: 1530px) {
        min-width: 247px;
        max-width: 247px;
        height: 247px;
    }

    @media screen and (max-width: 971px) {
        min-width: 500px;
        max-width: 500px;
        height: 500px;
        margin-top: 100px;
    }

    @media screen and (max-width: 750px) {
        min-width: 400px;
        max-width: 400px;
        height: 400px;
        margin-top: 30px;
    }

    &:first-child, &:last-child {
        @media screen and (max-width: 1170px) {
            transform: scale(0.7);
            position: relative;
            top: -35%;
        }

        @media screen and (max-width: 780px) {
            position: relative;
            transform: scale(0.6);
            top: -120px;
        }
    }

    &:nth-child(2) {
        transform: scale(1.6);
        margin: 0 50px;

        @media screen and (max-width: 1770px) {
            transform: scale(1.3);
        }



        @media screen and (max-width: 980px) {

            margin: 0;
        }
        @media screen and (max-width: 780px) {
            position: relative;
            transform: scale(0.6);
            top: -120px;
        }
    }

    &__image {
        width: 80%;
        height: 80%;
        transform: scale(.8);
    }

    &__title {
        font-size: 20px;
        display: block;
        position: relative;
        top: -50px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.4px;

        color: #D89B66;
    }
}