.Main {
  height: 950px;
  mix-blend-mode: normal;
  padding: var(--main-padding-lg);

  @media screen and (max-width: 1800px) {
    height: 601px;
  }

  @media screen and (max-width: 1200px) {
    height: 530px;
  }

  @media screen and (max-width: 980px) {
    height: 917px;
  }

  @media screen and (max-width: 750px) {
    height: 798px;
  }

  @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
    height: 817px;
  }

  &::after {
    content: "";
    height: 950px;
    background: url("../../img/background.jpg");
    background-size: 120% 100%;
    opacity: 0.6;
    top: var(--header-height-full);
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -999;

    @media screen and (max-width: 1800px) {
      top: var(--header-height-mini);
      height: 601px;
    }

    @media screen and (max-width: 1200px) {
      height: 530px;
    }

    @media screen and (max-width: 980px) {
      top: var(--header-height-mini);
      height: 1160px;
    }

    @media screen and (max-width: 750px) {
      top: var(--header-height-mini);

    }

    @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
      top: var(--header-height-mini);
      height: 619px;
    }
  }
}

.Ad {
  padding-top: 99px;
  padding-left: -5px;
  width: 748px;

  @media screen and (max-width: 1800px) {
    height: 601px;
    padding-top: 50px;
  }

  @media screen and (max-width: 980px) {
    height: 350px;
    max-width: 100%;
    padding-top: 65px;
    padding-left: -10px;
  }

  @media screen and (max-width: 750px) {
    padding-top: 65px;
  }

  @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
    padding-top: 18px;
  }

  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.4px;
    color: #343331;

    @media screen and (max-width: 1800px) {
      font-size: 36px;
      line-height: 50px;
    }

    // @media screen and (max-width: 1280px) {
    //   font-size: 36px;
    //   line-height: 49px;
    // }

    @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
      position: relative;
      font-size: 24px;
      line-height: 30px;
      top: -11px;
      left: 6px;
    }

    & > span {
      color: #a54220;
    }
  }

  &__info {
    position: relative;
    top: -10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.4px;

    color: #d89b66;

    @media screen and (max-width: 1800px) {
      font-size: 18px;
      line-height: 25px;
      top: -15px;
    }

    @media screen and (max-width: 750px) {
      font-size: 18px;
      line-height: 25px;

    }

    @media screen and (max-width: 688px),
           screen and (max-device-width: 650px) {
      font-size: 14px;
      line-height: 19px;
      margin-top: -10px;
      left: 7px;
    }
  }

  &__text {
    display: block;
    width: 748px;
    position: relative;
    top: -12px;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: 0.4px;
    word-wrap: break-word;
    color: #343331;

    @media screen and (max-width: 1800px) {
      font-size: 14px;
      line-height: 25px;
      top: -25px;
    }

    @media screen and (max-width: 980px) {
      max-width: 100%;
    }

    @media screen and (max-width: 750px) {
      top: -20px;
    }

    @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
      font-size: 12px;
      line-height: 14px;
      margin-top: 21px;
      left: 7px;
    }
  }

  &__TicketButton {
    top: -10px;
    left: -5px;
    position: relative;

    @media screen and (max-width: 750px) {
      top: 2px;
      left: 1px;
    }


    @media screen and (max-width: 688px), screen and (max-device-width: 650px) {

    }
  }
}

.Cake {
  height: 873px;
  width: 873px;
  background: url("../../img/cake1.png");
  position: absolute;
  right: 122px;
  top: 207px;
  background-size: 100%;
  z-index: -1;

  @media screen and (max-width: 1800px) {
    height: 572px;
    width: 572px;
    right: 80px;
    top: calc(6px + 143px);
  }

  @media screen and (max-width: 1400px) {
    right: 30px;
  }

  @media screen and (max-width: 1280px) {
    height: 572px;
    width: 572px;
    right: 65px;
  }

  @media screen and (max-width: 1100px) {
    width: 450px;
    height: 450px;
    top: calc(6px + 194px);
  }

  @media screen and (max-width: 1030px) {
    width: 400px;
    height: 400px;
    top: calc(6px + 244px);
  }

  @media screen and (max-width: 980px) {
    position: relative;
    top: -26px;
    left: 50%;
    transform: translate(-50%);

    width: 772px;
    height: 772px;
  }

  @media screen and (max-width: 750px) {
    left: calc(50% - 10px);
  }

  @media screen and (max-width: 688px), screen and (max-device-width: 650px) {
    margin: -114px auto 0 auto;

    width: 391px;
    height: 391px;
  }
}